*.pyc
*.o
*.a
*.lo
*.Plo
*.Po
\.dirstamp
src/preprocess/\.obj/
src/preprocess/Makefile\.depend$
src/preprocess/preprocess$
src/preprocess/preprocess-debug$
src/preprocess/preprocess-profile$
src/preprocess_h2/\.obj/
src/preprocess_h2/Makefile\.depend$
src/preprocess_h2/preprocess$
src/preprocess_h2/preprocess-debug$
src/preprocess_h2/preprocess-profile$
src/search/\.obj/
src/search/Makefile\.depend$
src/search/downward-release$
src/search/downward-debug$
src/search/downward-profile$
src/search/lp/coin/
src/search/cudd-3.0.0/include/
src/search/cudd-3.0.0/dddmp
src/search/cudd-3.0.0/doc
src/search/cudd-3.0.0/nanotrav/nanotrav
src/VAL/.*\.o$
src/VAL/lex\.yy\.cc$
src/VAL/validate$
src/validate$
new-scripts/checkouts/
new-scripts/reports/
new-scripts/preprocessed-tasks/
new-scripts/exp-.*/
src/plan.soln
src/output
src/output.sas
src/plan_numbers_and_cost
src/sas_plan
src/elapsed.time
src/search/merge_and_shrink_test
src/search/cudd-3.0.0/Makefile
src/search/cudd-3.0.0/autom4te.cache/output.0
src/search/cudd-3.0.0/autom4te.cache/output.1
src/search/cudd-3.0.0/autom4te.cache/requests
src/search/cudd-3.0.0/autom4te.cache/traces.0
src/search/cudd-3.0.0/autom4te.cache/traces.1
src/search/cudd-3.0.0/config.h
src/search/cudd-3.0.0/config.status
src/search/cudd-3.0.0/cudd/.libs/libcudd.la
src/search/cudd-3.0.0/cudd/.libs/libcudd.lai
src/search/cudd-3.0.0/libtool
src/search/cudd-3.0.0/stamp-h1
plan_numbers_and_cost
elapsed.time
output
output.sas
sas_plan
experiments/report/report-eval
experiments/properties
src/VAL/lex.yy.cc
src/VAL/validate
src/downward.tmp.*
src/preprocess/Makefile.depend
src/preprocess/preprocess
src/search/Makefile.depend
src/search/cudd-3.0.0/config.log
src/search/downward-debug
src/search/downward-release
src/validate
src/xxx_nosucc
src/yyy
*~
src/search/cudd-3.0.0/Doxyfile
src/search/cudd-3.0.0/Makefile.in
src/search/cudd-3.0.0/aclocal.m4
src/search/cudd-3.0.0/autom4te.cache/
src/search/cudd-3.0.0/configure
src/search/cudd-3.0.0/html/
